<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- <link href="../image/icon.jpg" rel="shortcut icon" type="image/x-icon" /> -->
    <link
    crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    referrerpolicy="no-referrer"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>School Collection</title>
  </head>
  <body class="w-screen overflow-x-hidden">
    <header>
      <div class="top-0 w-full z-30 animate__animated animate__fadeInDown bg-black" id="header">
        <div class="p-2 md:py-5 lg:py-10 lg:px-4 2xl:px-16">
          <div class="flex items-center justify-between px-4 lg:px-2 2xl:px-32">
            <div class="z-40 w-full">
              <div class="flex flex-col gap-5 items-center text-white">
                <div class="flex justify-between items-center">
                  <div class="flex text-2xl font-bold uppercase md:text-4xl lg:text-5xl">
                    <a href="./index.html"> 
                      LOGO 
                    </a>
                  </div>
                </div>
                <ul class="flex gap-3 text-base capitalize md:gap-6 md:text-xl lg:text-3xl xl:gap-8">
                  <li>
                    <a href="./index.html">home</a>
                  </li>
                  <li>
                    <a href="#">stories</a>
                  </li>
                  <li>
                    <a href="#">best sellers</a>
                  </li>
                  <li>
                    <a href="./collection.html">collection</a>
                  </li>
                  <li>
                    <a href="#">contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
        <!-- Breadcrumb -->
        <section>
            <div class="w-full mx-auto 2xl:max-w-screen-3xl">
                <div class="flex flex-col gap-3 p-4 py-2 md:pt-6 lg:pt-10 lg:gap-8 xl:px-16 fadein">
                  <div class="breadcrumb-container">
                    <div class="flex">
                      <a href="./index.html">home</a>
                    </div>
                    <span>/</span>
                    <div class="flex font-medium">
                      <p>School collection</p>
                    </div>
                  </div>
                </div>
            </div>
        </section>

        <section>
          <div class="w-full mx-auto 2xl:max-w-screen-3xl">
            <div class="flex flex-col gap-5 p-4 py-2 lg:pt-5 lg:gap-8 xl:px-16 fadein">
              <div class="grid grid-cols-1 gap-2 lg:flex-row 2xl:grid-cols-6">
                <h1 class="text-heading-3 uppercase font-semibold md:text-heading-1">
                  collection
                </h1>
                <div class="bg-home bg-cover bg-no-repeat 2xl:col-span-5">
                  <div class="bg-white/60">
                    <div class="flex flex-col gap-2 p-2 md:p-4">
                      <h2 class="text-heading-5 font-medium md:text-heading-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </h2>
                      <p class="text-sm md:text-base lg:text-lg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolorem nisi aspernatur veniam impedit nesciunt atque? Asperiores animi excepturi harum cum accusamus obcaecati laboriosam cumque impedit ipsam, veniam dolor aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolorem nisi aspernatur veniam impedit nesciunt atque? Asperiores animi excepturi harum cum accusamus obcaecati laboriosam cumque impedit ipsam, veniam dolor aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolorem nisi aspernatur veniam impedit nesciunt atque? Asperiores animi excepturi harum cum accusamus obcaecati laboriosam cumque impedit ipsam, veniam dolor aperiam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dolorem nisi aspernatur veniam impedit nesciunt atque? Asperiores animi excepturi harum cum accusamus obcaecati laboriosam cumque impedit ipsam, veniam dolor aperiam.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 md:grid-cols-4 xl:gap-10">
                <ul class="flex flex-col justify-center gap-3 capitalize text-xl md:justify-start lg:text-2xl">
                  <li>
                    <a href="./basic.html">
                      basic collection
                    </a>
                  </li>
                  <li>
                    <a href="./coat.html">
                      coat collection
                    </a>
                  </li>
                  <li>
                    <a href="./office.html">
                      office collection
                    </a>
                  </li>
                  <li class="collapse-wrapper">
                    <span class="collapse-trigger cursor-pointer font-medium">
                      sports collection
                      <i class="fa-solid fa-chevron-down collapse-icon text-base"></i>
                    </span>
                    <ul class="collapse-items">
                      <li>
                        <a href="./sports-golf.html">
                          golf
                        </a>
                      </li>
                      <li>
                        <a href="./sports-swimming.html">
                          swimming
                        </a>
                      </li>
                      <li>
                        <a href="./sports-gym.html">
                          gym
                        </a>
                      </li>
                      <li>
                        <a href="./sports-school.html" class="font-medium">
                          school
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="collapse-wrapper">
                    <span class="collapse-trigger cursor-pointer">
                      uniform collection
                      <i class="fa-solid fa-chevron-down collapse-icon text-base"></i>
                    </span>
                    <ul class="collapse-items">
                      <li>
                        <a href="./uniform-chef.html">
                          chef
                        </a>
                      </li>
                      <li>
                        <a href="./uniform-hospital.html">
                          hospital
                        </a>
                      </li>
                      <li>
                        <a href="./uniform-hotel.html">
                          hotel
                        </a>
                      </li>
                      <li>
                        <a href="./uniform-labor.html">
                          labor
                        </a>
                      </li>
                      <li>
                        <a href="./uniform-school.html">
                          school
                        </a>
                      </li>
                      <li>
                        <a href="./uniform-service.html">
                          service
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="product-container group">
                  <div class="w-full relative pt-[100%]">
                      <img loading="lazy" src="../image/sports/school/Sports-Collection15/Sports-Collection15-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                      <img loading="lazy" src="../image/sports/school/Sports-Collection15/Sports-Collection15-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                  </div>
                  <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                     Product name
                  </h3>
                </div>
                <div class="product-container group">
                    <div class="w-full relative pt-[100%]">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection16/Sports-Collection16-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection16/Sports-Collection16-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                    </div>
                    <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                       Product name
                    </h3>
                </div>
                <div class="product-container group">
                      <div class="w-full relative pt-[100%]">
                          <img loading="lazy" src="../image/sports/school/Sports-Collection17/Sports-Collection17-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                          <img loading="lazy" src="../image/sports/school/Sports-Collection17/Sports-Collection17-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                      </div>
                      <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                        Product name
                      </h3>
                  </div>
                 <div class="product-container group">
                    <div class="w-full relative pt-[100%]">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection18/Sports-Collection18-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection18/Sports-Collection18-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                    </div>
                    <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                       Product name
                    </h3>
                </div> 
                <div class="product-container group">
                    <div class="w-full relative pt-[100%]">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection19/Sports-Collection19-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection19/Sports-Collection19-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                    </div>
                    <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                       Product name
                    </h3>
                </div> 
                 <div class="product-container group">
                    <div class="w-full relative pt-[100%]">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection20/Sports-Collection20-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection20/Sports-Collection20-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                    </div>
                    <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                       Product name
                    </h3>
                </div> 
                <div class="product-container group">
                    <div class="w-full relative pt-[100%]">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection5/Sports-Collection5-1.jpg" class="image-custom object-contain rounded-t-xl group-hover:hidden" alt="">
                        <img loading="lazy" src="../image/sports/school/Sports-Collection5/Sports-Collection5-2.jpg" class="image-custom object-contain rounded-t-xl hidden group-hover:block" alt="">
                    </div>
                    <h3 class="text-secondary-1 font-medium text-base md:text-xl">
                       Product name
                    </h3>
                </div> 
                
              </div>
            </div>
          </div>
        </section>
    </main>

    <footer>
      <section>
        <div class="w-full mx-auto 2xl:max-w-screen-3xl">
          <div class="flex flex-col items-center py-5 gap-4 px-4 lg:py-16 lg:px-2 xl:gap-10 2xl:px-32">
            <h4 class="text-xl font-semibold text-transparent bg-clip-text bg-gradient-to-br from-primary-1 to-primary-2 border-2 border-black px-4 p-2 md:text-4xl">
              LET'S GET SOCIAL!
            </h4>
            <div class="grid grid-cols-4 gap-5 w-full text-5xl leading-[48px] justify-items-center xl:gap-10 xl:h-60">
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-facebook text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-youtube text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-instagram text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-pinterest text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="w-full mx-auto 2xl:max-w-screen-3xl">
          <div class="grid grid-cols-1 gap-5 py-10 px-4 border border-t-2 lg:px-2 xl:py-20 xl:grid-cols-3 2xl:px-32">
              <div class="flex flex-col gap-4 text-base md:text-xl">
                  <div class="text-2xl font-bold uppercase md:text-4xl">
                      <a href="#">
                        LOGO
                      </a>
                  </div>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <div class="flex items-center gap-3">
                      <i class="fa-solid fa-location-dot"></i>
                      <Address>Ho Chi Minh City, Viet Nam</Address>
                  </div>
                  <div class="flex items-center gap-3">
                      <i class="fa-solid fa-phone"></i>
                      <p>
                          0123 456 789
                      </p>
                  </div>
                  <div class="flex items-center gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <p>
                      mail@mail.com
                    </p>
                </div>
              </div>
              <div class="grid grid-cols-2 items-center gap-5 text-lg font-medium capitalize md:text-xl">
                <ul class="flex flex-col gap-4">
                  <li>
                    <a href="./basic.html">basic collection</a>
                  </li>
                  <li>
                    <a href="./coat.html">coat collecttion</a>
                  </li>
                </ul>
                <ul class="flex flex-col gap-4">
                  <li>
                    <a href="./office.html">office collecttion</a>
                  </li>
                  <li>
                    <a href="./sports-golf.html">sports collecttion</a>
                  </li>
                  <li>
                    <a href="./uniform-chef.html">uniform collecttion</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>

      <section>
          <div class="fixed z-10 bottom-5 right-7">
              <div class="flex flex-col items-center gap-3">
                  <button name="hotline" class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-black rounded-full shadow-hotline p-2 md:p-3">
                    <a href="tel:+84123456789">
                        <i class="fa-solid fa-phone border border-white rounded-full p-1.5 md:p-2"></i>
                    </a>
                  </button>
                  <div class="btn-scrollTop hidden">
                    <button name="scroll-to-top" class="flex w-9 h-9 justify-center items-center text-black border border-black rounded-full p-2.5 shadow-hotline bg-white lg:w-12 lg:h-12">
                      <i class="fa-solid fa-arrow-up"></i>
                    </button>
                  </div>
              </div>
          </div>
      </section>

    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</html>
