<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- <link href="../image/icon.jpg" rel="shortcut icon" type="image/x-icon" /> -->
    <link
    crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    referrerpolicy="no-referrer"
    rel="stylesheet"
    />
    <title>Sustainable Fashion</title>
  </head>
  <body class="w-screen overflow-x-hidden">
    <header>
      <div class="relative z-40 w-full xs:pt-[22%] md:pt-[15%] xl:pt-[11%] 2xl:pt-[8.5%]" id="header">
        <div class="top-0 left-0 w-full h-full animate__animated animate__fadeInDown bg-header bg-cover bg-no-repeat bg-center xs:absolute">
          <div class="bg-white/40 w-full h-full">
            <div class="flex items-center justify-center w-full h-full px-4 lg:px-2 2xl:px-32">
               <div class="flex flex-col gap-5 items-center text-white">
                  <div class="flex justify-between items-center">
                    <div class="flex text-2xl font-bold uppercase md:text-4xl lg:text-5xl shadow-text">
                      <a href="./index.html"> 
                        LOGO 
                      </a>
                    </div>
                  </div>
                  <ul class="flex gap-3 text-base capitalize md:gap-6 md:text-xl lg:text-3xl xl:gap-8">
                    <li class="shadow-text">
                      <a href="./index.html">home</a>
                    </li>
                    <li class="shadow-text">
                      <a href="./stories.html">stories</a>
                    </li>
                    <li class="shadow-text">
                      <a href="./best-sellers.html">best sellers</a>
                    </li>
                    <li class="dropdown group">
                        <span class="flex gap-1 items-center shadow-text cursor-pointer md:gap-2">collections <i class="fa-solid fa-chevron-down text-xs leading-none md:text-base"></i></span>
                        <div class="pt-1 md:pt-2">
                          <ul class="dropdown-menu hidden group-hover:xl:visible group-hover:xl:opacity-100">
                            <li>
                              <a href="./basic.html">basic collection</a>
                            </li>
                            <li>
                              <a href="./coat.html">coat collection</a>
                            </li>
                            <li>
                              <a href="./office.html">office collection</a>
                            </li>
                            <li>
                              <a href="./sports-golf.html">sport collection</a>
                            </li>
                            <li>
                              <a href="./uniform-chef.html">uniform collection</a>
                            </li>
                            <li>
                              <a href="./eco-bag.html">eco bag collection</a>
                            </li>
                            <li>
                              <a href="./gift.html">gift collection</a>
                            </li>
                          </ul>
                        </div>
                    </li>
                    <li class="shadow-text">
                      <a href="./contact.html">contact</a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
        <!-- Breadcrumb -->
        <section>
          <div class="w-full mx-auto 2xl:max-w-screen-3xl">
            <div class="flex flex-col gap-3 p-4 py-2 md:py-6 lg:gap-5 xl:px-16 fadein">
              <div class="breadcrumb-container">
                <div class="flex">
                  <a href="./index.html">home</a>
                </div>
                <span>/</span>
                <div class="flex font-medium">
                  <p>stories</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="relative w-full pt-[28%] md:pt-[20%]">
            <img loading="lazy" src="../image/stories/sustainable-fasion/sustainable-fasion-thumb-1.jpg" class="image-custom object-cover" alt="">
          </div>
        </section>

        <section>
          <div class="w-full mx-auto 2xl:max-w-screen-2xl">
            <div class="flex flex-col items-center gap-4 p-4 py-2 md:py-5 lg:py-10 lg:gap-8 xl:px-16 fadein">
                <h1 class="text-heading-4 uppercase font-semibold text-center md:max-w-[80%] md:text-heading-2 lg:text-heading-1 xl:max-w-full">
                    Together, let's strive for SUSTAINABLE FASHION!
                </h1>
                <div class="border-t-4 w-1/2 border-black xl:w-1/3"></div>
                <div class="flex flex-col gap-5 text-lg md:text-xl xl:text-2xl">
                    <p>
                        First and foremost,there is a truth we must tell you: fashion may not be
                        <strong>100% sustainable</strong>. For what reason? We are gradually yet steadily causing harm to
                        our world through the creation of garments production. Similarly to other fashion
                        trends, sustainable fashion utilizes resources like water and electricity.
                    </p>
                    <p>
                        <strong> NEVERTHELESS</strong>, we are making every effort to reduce any adverse effects on the
                        natural surroundings in which we reside. We are starting with reducing harmful
                        processes; we should also use natural breathable fibers that are environmentally
                        friendly, recycled fabrics, more effectively wastewater management, yearly clothing
                        exchange events instead of throwing away clothing in industrial landfills, and
                        numerous other measures.
                    </p>
                    <p>
                        And one thing for sure: we always aim to create the most comprehensive products
                        possible to meet your needs, in order to somewhat reduce the amount of carbon
                        dioxide emitted by the fashion industry globally.
                    </p>
                    <div class="relative w-full pt-[45%]">
                        <img loading="lazy" src="../image/stories/sustainable-fasion/sustainable-fasion-1.jpg" class="image-custom object-contain" alt="Environmentally friendly sustainable fashion">
                    </div>
                    <p class="italic text-lg text-center">
                        Environmentally friendly sustainable fashion
                    </p>
                    <p>
                        Since textiles make up 15% of the total amount of petroleum products, they rank as the
                        second-largest category of petroleum-based items, behind packaging, according to
                        Bloomberg. Worldwide, polyester, a synthetic material primarily sourced from
                        petroleum, is used to make the majority of apparel. The centuries-long dominance of
                        cotton has come to an end with the introduction of synthetic fibers, which have
                        surpassed cotton fibers to become the primary fabric of the twenty-first century. Even
                        so, given that the production of polyester emits 3 times as much carbon dioxide as
                        cotton fiber (282 billion tons) in 2015, some environmental experts refer to the
                        material's presence as a "disaster".
                    </p>
                    <p>
                        In fact, the entire fashion industry accounts for up to 10% of global carbon dioxide
                        emissions. To put it in perspective, emissions from the fashion industry are even more
                        than international flights and maritime transportation combined (according to a report
                        from the United Nations Environment Program).
                    </p>
                    <div class="relative w-full pt-[45%]">
                        <img loading="lazy" src="../image/stories/sustainable-fasion/sustainable-fasion-2.jpg" class="image-custom object-contain" alt="'Green' fashion starts with each individual">
                    </div>
                    <p class="italic text-lg text-center">
                        "Green" fashion starts with each individual
                    </p>
                    <p>
                        Additionally, synthetic fabrics such as polyester will generate small plastic particles
                        after each wash and wear. These plastic particles are called microplastics, causing
                        pollution in the oceans, freshwater, and terrestrial environments, inhibiting the
                        development and reproduction of species when absorbed by animals.
                    </p>
                    <p>
                        Scientists in Australia estimate that between 9.25 and 15.86 million tons of
                        microplastics can be found on the ocean floor. And one of the main causes of
                        environmental pollution is the plastic production process for the garment industry, etc.
                    </p>
                    <p>
                        Due to that, we must wear clothes every day for every occupation, we can cut our
                        carbon dioxide emissions by up to 400% if we choose to wear "sustainable fashion"
                        clothes 50 times a year as opposed to just 5 which is what we should always strive for.
                    </p>
                    <p class="font-medium italic">
                        It's true that &quot;green&quot; fashion begins with each individual.
                    </p>
                    <p>
                        We feel extremely fortunate and appreciate
                    </p>
                </div>
            </div>
          </div>
        </section>

    </main>

    <footer>
     <section>
        <div class="w-full mx-auto 2xl:max-w-screen-3xl">
          <div class="flex flex-col items-center py-5 gap-4 px-4 lg:py-20 lg:px-2 xl:gap-10 2xl:px-32 reveal fadeIn">
            <div class="grid grid-cols-4 gap-5 w-full text-5xl leading-[48px] justify-items-center xl:gap-10 xl:h-60">
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-facebook text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-youtube text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-instagram text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-pinterest text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section>
        <div class="w-full mx-auto 2xl:max-w-screen-3xl">
          <div class="grid grid-cols-1 gap-5 py-10 px-4 border-t-2 lg:px-2 xl:py-20 xl:grid-cols-3 2xl:px-32 reveal fadeIn">
              <div class="flex flex-col gap-4 text-base md:text-xl">
                    <div class="text-2xl font-bold uppercase md:text-4xl">
                        <a href="#">
                            LOGO
                        </a>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="flex items-center gap-3">
                        <i class="fa-solid fa-location-dot"></i>
                        <Address>Ho Chi Minh City, Viet Nam</Address>
                    </div>
                    <div class="flex items-center gap-3">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+84123456789">
                            0123 456 789
                        </a>
                    </div>
                    <div class="flex items-center gap-3">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto: mail@mail.com">
                            mail@mail.com
                        </a>
                    </div>
              </div>
              <div class="grid grid-cols-2 items-center gap-5 text-lg font-medium capitalize md:text-xl">
                <ul class="flex flex-col gap-4">
                  <li>
                    <a href="./basic.html">basic collection</a>
                  </li>
                  <li>
                    <a href="./coat.html">coat collecttion</a>
                  </li>
                </ul>
                <ul class="flex flex-col gap-4">
                  <li>
                    <a href="./office.html">office collecttion</a>
                  </li>
                  <li>
                    <a href="./sports-golf.html">sports collecttion</a>
                  </li>
                  <li>
                    <a href="./uniform-chef.html">uniform collecttion</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>

      <section>
          <div class="fixed z-10 bottom-5 right-7">
              <div class="flex flex-col items-center gap-3">
                  <button name="hotline" class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-black rounded-full shadow-hotline p-2 md:p-3">
                    <a href="tel:+84123456789">
                        <i class="fa-solid fa-phone border border-white rounded-full p-1.5 md:p-2"></i>
                    </a>
                  </button>
                  <div class="btn-scrollTop hidden">
                    <button name="scroll-to-top" class="flex w-9 h-9 justify-center items-center text-black border border-black rounded-full p-2.5 shadow-hotline bg-white lg:w-12 lg:h-12">
                      <i class="fa-solid fa-arrow-up"></i>
                    </button>
                  </div>
              </div>
          </div>
      </section>

    </footer>
  </body>
</html>
