<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- <link href="../image/icon.jpg" rel="shortcut icon" type="image/x-icon" /> -->
    <link
    crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    referrerpolicy="no-referrer"
    rel="stylesheet"
    />
    <title>DO WE REALLY DESIRE TO LIVE IN FEAR?</title>
  </head>
  <body class="w-screen overflow-x-hidden">
    <header>
      <div class="relative z-40 w-full xs:pt-[22%] md:pt-[15%] xl:pt-[11%] 2xl:pt-[8.5%]" id="header">
        <div class="top-0 left-0 w-full h-full animate__animated animate__fadeInDown bg-header bg-cover bg-no-repeat bg-center xs:absolute">
          <div class="bg-white/40 w-full h-full">
            <div class="flex items-center justify-center w-full h-full px-4 lg:px-2 2xl:px-32">
               <div class="flex flex-col gap-5 items-center text-white">
                  <div class="flex justify-between items-center">
                    <div class="flex text-2xl font-bold uppercase md:text-4xl lg:text-5xl shadow-text">
                      <a href="./index.html"> 
                        LOGO 
                      </a>
                    </div>
                  </div>
                  <ul class="flex gap-3 text-base capitalize md:gap-6 md:text-xl lg:text-3xl xl:gap-8">
                    <li class="shadow-text">
                      <a href="./index.html">home</a>
                    </li>
                    <li class="shadow-text">
                      <a href="./stories.html">stories</a>
                    </li>
                    <li class="shadow-text">
                      <a href="./best-sellers.html">best sellers</a>
                    </li>
                    <li class="dropdown group">
                        <span class="flex gap-1 items-center shadow-text cursor-pointer md:gap-2">collections <i class="fa-solid fa-chevron-down text-xs leading-none md:text-base"></i></span>
                        <div class="pt-1 md:pt-2">
                          <ul class="dropdown-menu hidden group-hover:xl:visible group-hover:xl:opacity-100">
                            <li>
                              <a href="./basic.html">basic collection</a>
                            </li>
                            <li>
                              <a href="./coat.html">coat collection</a>
                            </li>
                            <li>
                              <a href="./office.html">office collection</a>
                            </li>
                            <li>
                              <a href="./sports-golf.html">sport collection</a>
                            </li>
                            <li>
                              <a href="./uniform-chef.html">uniform collection</a>
                            </li>
                            <li>
                              <a href="./eco-bag.html">eco bag collection</a>
                            </li>
                            <li>
                              <a href="./gift.html">gift collection</a>
                            </li>
                          </ul>
                        </div>
                    </li>
                    <li class="shadow-text">
                      <a href="./contact.html">contact</a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
        <!-- Breadcrumb -->
        <section>
          <div class="w-full mx-auto 2xl:max-w-screen-3xl">
            <div class="flex flex-col gap-3 p-4 py-2 md:py-6 lg:gap-5 xl:px-16 fadein">
              <div class="breadcrumb-container">
                <div class="flex">
                  <a href="./index.html">home</a>
                </div>
                <span>/</span>
                <div class="flex font-medium">
                  <p>stories</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="relative w-full pt-[28%] md:pt-[20%]">
            <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-thumb-1.jpg" class="image-custom object-cover" alt="">
          </div>
        </section>

        <section>
          <div class="w-full mx-auto 2xl:max-w-screen-2xl">
            <div class="flex flex-col items-center gap-4 p-4 py-2 md:py-5 lg:py-10 lg:gap-8 xl:px-16 fadein">
                <h1 class="text-heading-4 uppercase font-semibold text-center md:max-w-[80%] md:text-heading-2 lg:text-heading-1 xl:max-w-full">
                  DO WE REALLY DESIRE TO LIVE IN FEAR?
                </h1>
                <div class="border-t-4 w-1/2 border-black xl:w-1/3"></div>
                <div class="flex flex-col gap-5 text-lg md:text-xl xl:text-2xl">
                    <p>
                      "The world will be more fragile when Mother Nature is angry." Hundreds of storms, floods, droughts, and tornadoes strike the planet each year, severely damaging individuals as well as property. Even the most sturdy structures, including humanity, eventually crumble under the force of nature. Recent climate change has made nature unpredictable, even though scientific and technological advancements have helped mankind predict when disasters will occur, reducing some of the damages caused to people and property. 
                    </p>
                    <h3 class="font-semibold">
                      The earthquake in 526 AD in Antioch (Turkey)
                    </h3>
                    <p>
                      A catastrophic earthquake that struck the Byzantine city of Antioch, which is today Hatay - the province of Turkey, occurred at the end of May in the year 526 AD. 
                      Antioch is perched on the African, Arabian, and Anatolian tectonic plates, which is why the earthquake happened. The earthquake in Hatay province on February 6th was caused by a similar collision. 
                    </p>
                    <p>
                      In this historical natural disaster, an estimated 250,000 - 300,000 people were killed. At that time, the population was not as dense, so the number of deaths was truly horrific.
                    </p>
                    <div class="relative w-full pt-[45%]">
                      <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-1.jpg" class="image-custom object-contain" alt="At least 250,000 deaths have occurred after the disaster.">
                    </div>
                    <p class="italic text-lg text-center">
                      At least 250,000 deaths have occurred after the disaster.
                    </p>

                    <h3 class="font-semibold">
                      The 1556 Earthquake in Shaanxi Province (China)
                    </h3>
                    <p>
                      When recalling the earthquake of that year, everyone cannot help but shudder, filled with fear, one of the darkest milestones in human history - it leveled the "cradle of Chinese civilization," triggering a domino effect, along with subsequent hazards.
                    </p>
                    <p>
                      An enormous quake devastated the prosperous provinces of Shaanxi and Sichuan on January 23, 1556. Aftershocks from the late-night earthquake persisted until the next morning. Subsequent scientific analyses indicated that the earthquake's magnitude was between 8.3 and 8.3 on the Richter scale. In an instant, the ground cracked way, water erupted, buildings, mountains, and rivers switched into unexpected shapes, and communities and temples were demolished one after another. One description of the situation was that of "homeless and insufficient due to the disaster.
                    </p>
                    <div class="relative w-full pt-[45%]">
                      <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-2.jpg" class="image-custom object-contain" alt="A heap of ruins after the earthquake">
                    </div>
                    <p class="italic text-lg text-center">
                      A heap of ruins after the earthquake.
                    </p>
                    <p>
                      To this day, historians unanimously agree that the earthquake in China was not the strongest, but it was the earthquake with the death toll, claiming the lives of nearly 830,000 people - accounting for 60% of the combined population of the two provinces.
                    </p>

                    <h3 class="font-semibold">
                      The 1815 Eruption of Tambora Volcano (Indonesia)
                    </h3>
                    <p>
                      The Tambora volcano eruption in 1815 near Sumawa, Indonesia, is regarded as one of the most adverse natural disasters in history due to its tremendous destructiveness and the devastation it inflicted within its aftermath. Ten thousand individuals were speculated to have died beneath the burning lava flow. The disappearance of a minor civilization in the vicinity of the erupting volcano coincided with that. 
                    </p>
                    <div class="relative w-full pt-[45%]">
                      <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-3.png" class="image-custom object-contain" alt="The lava flow has swept away what existed before">
                    </div>
                    <p class="italic text-lg text-center">
                      The lava flow has swept away what existed before
                    </p>
                    <p>
                      The ash columns of Tambora penetrated the atmosphere, increasing the reflection of sunlight from the Earth. This caused many places to not receive enough warmth, leading even Europe to be engulfed in a "volcanic winter”.
                    </p>
                    <p>
                      In mid-August, the Pennsylvania River actually experienced freezing conditions. 1816 was therefore referred to as the "year without a summer”.
                      After the disaster, crops and the environment were destroyed, and the death toll from famine rose to 82,000 people.
                    </p>

                    <h3 class="font-semibold">
                      The 1931 Yangtze River Flood (China)
                    </h3>
                    <p>
                      Snow started melting at the start of 1931 and flowed to the Yangtze River's lower reaches. The Yangtze River watershed witnessed rainfall much above usual by April 1931. Individuals who lived in low-lying areas eventually had to evacuate their houses. In June 1931, rainfall above 600 mm was recorded in areas adjacent to the Yangtze River. Therefore, the water level reached its peak on August 18, 1931. 
                    </p>
                    <div class="relative w-full pt-[45%]">
                      <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-4.jpg" class="image-custom object-contain" alt="The worst disaster of the 20th century in China.">
                    </div>
                    <p class="italic text-lg text-center">
                      The worst disaster of the 20th century in China.
                    </p>
                    <p>
                      Central and Eastern China were inundated, including densely populated cities such as Wuhan and Nanjing. Houses were destroyed, submerged, and streets inadvertently turned into channels. People had to move around in boats, even using makeshift coffins, wooden tubs, or... makeshift boats. The government at the time reported approximately 2 million deaths, but some other reports suggest the actual figure could be as high as 3.7 - 4 million.
                    </p>
                    <p>
                      This flood is still regarded as one of the most severe natural disasters in Chinese history and the greatest tragedy of the 20th century, even after 93 years has passed.
                    </p>

                    <h3 class="font-semibold">
                      The 2019 Amazon Rainforest Fires (Brazil)
                    </h3>
                    <p>
                      The Amazon Rainforest - with 60% of its area located within Brazil's territory - is the largest tropical rainforest in the world. It is considered a biodiversity hotspot with many unique animal and plant species.
                    </p>
                    <p>
                      With 72,843 flames recorded thus far in 2019, the total amount of forest fires in the Amazon has hit a record high, according to Brazil's National Institute for Space Research (INPE). Thick clouds of smoke billowed, as trees "fell over" and died, reducing vast tracts of verdant woodland to nothing but barren space. According to some academics, human activities including raising livestock and removing land for logging are partially responsible for the fires.
                    </p>
                    <p>
                      Trees in the Amazon help transport water from the soil into the atmosphere, generating the necessary rainfall for other areas. The forest can regrow after a fire, but what if there are repeated fires every few years, turning the forest into farmland? It would take centuries to restore the carbon sequestration capacity - the main cause of climate change. Ecological diversity will also be lost, resulting in severe damage to the planet. Tens of thousands of plant species, hundreds of thousands of insects, and other forms of wildlife in the Amazon will be affected. We will lose millions, millions of animals.
                    </p>
                    <div class="relative w-full pt-[45%]">
                      <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-5.jpg" class="image-custom object-contain" alt="The Earth's green lungs cannot withstand human destruction">
                    </div>
                    <p class="italic text-lg text-center">
                      The Earth's green lungs cannot withstand human destruction.
                    </p>

                    <h3 class="font-semibold">
                      The 2011 Devastating Tornado in Missouri (USA)
                    </h3>
                    <p>
                      A tornado swept through an area up to 3/4 mile wide (about 1.2 km) with winds exceeding 200 miles per hour (322 km/h), causing 161 fatalities and countless injuries on May 22, 2011, in the city of Joplin, Missouri, USA.
                    </p>
                    <div class="relative w-full pt-[45%]">
                      <img loading="lazy" src="../image/stories/story-live-in-fear/story-live-in-fear-6.webp" class="image-custom object-contain" alt="The ruins left behind after the tornado passed through.">
                    </div>
                    <p class="italic text-lg text-center">
                      The ruins left behind after the tornado passed through.
                    </p>
                    <p>
                      Soon after, on May 23, the tornado proceeded with its deadly route through Joplin, destroying residences, smashing automobiles, and causing chaos over its 10-kilometer path across the city. About 1,150 more people in Joplin required treatment for injuries sustained in the tornado. 
                    </p>
                    <p>
                      The tornado flattened much of the southern area of the city, turning many homes, hospitals, churches, and schools into piles of rubble. "After the second warning siren, suddenly everything came crashing down on us," said a witness named Tom Rogers, describing how his house "disappeared" - "When we looked up, everything was gone."
                    </p>

                    <h3 class="font-semibold">
                      Do we really desire to live in fear?
                    </h3>
                    <p>
                      Earth has given humans entrance to a flawless ecosystem. Unfortunately, in response to this kindness, humanity has overused natural resources, causing contamination in the air, rivers, and land. Humankind begins experiencing the repercussions when Earth can no longer sustain it. One thing is evident from the startling numbers and growing frequency of catastrophic disasters: Mother Nature is sending out signs that she is overburdened, really enraged, and we are getting closer to the "red line." Our behaviors and mindset on the environment have led us into a "death gate." The frequency and severity of natural disasters such as earthquakes, floods, glacier melting, and unstable weather are rising. Numerous disasters have been triggered by them, including poor crop seasons, millions-killing diseases, homelessness, unemployment, ecological imbalance, and additional ones. 
                    </p>
                    <p>
                      Have we come to realize how horrifying these things are so that we can begin to take action? Do we wish to condemn our offspring and subsequent generations to the wrath of the natural world? Moreover, we are the ones who are doing this. It's abundantly obvious that coexisting peacefully and amicably with the environment is the only viable option for us to live safely in nature. For the "lungs of the planet" to control the climate, overcome weather barriers, and shield the "next generation" from disasters, the forest needs to be applied to the reforestation process. 
                    </p>
                    <p>
                      At this point is our last opportunity to respond to nature's cry for assistance, modify our negative habits, act, and take care of the environment before it's too late. Shall we prevent Earth from becoming into a hostile world where people will eventually must relocate in order to survive? 
                    </p>
                </div>
            </div>
          </div>
        </section>

    </main>

    <footer>
     <section>
        <div class="w-full mx-auto 2xl:max-w-screen-3xl">
          <div class="flex flex-col items-center py-5 gap-4 px-4 lg:py-20 lg:px-2 xl:gap-10 2xl:px-32 reveal fadeIn">
            <div class="grid grid-cols-4 gap-5 w-full text-5xl leading-[48px] justify-items-center xl:gap-10 xl:h-60">
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-facebook text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-youtube text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-instagram text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
              <div class="flex bg-red-600 h-16 w-16 rounded-xl shadow-social hover:scale-105 transition-all duration-500 bg-cover xl:w-full xl:h-full xl:bg-social">
                <a href="#" class="flex w-full h-full items-center justify-center rounded-xl">
                  <i class="fa-brands fa-pinterest text-white xl:bg-red-600 xl:shadow-social xl:rounded-xl xl:p-3"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section>
        <div class="w-full mx-auto 2xl:max-w-screen-3xl">
          <div class="grid grid-cols-1 gap-5 py-10 px-4 border-t-2 lg:px-2 xl:py-20 xl:grid-cols-3 2xl:px-32 reveal fadeIn">
              <div class="flex flex-col gap-4 text-base md:text-xl">
                    <div class="text-2xl font-bold uppercase md:text-4xl">
                        <a href="#">
                            LOGO
                        </a>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="flex items-center gap-3">
                        <i class="fa-solid fa-location-dot"></i>
                        <Address>Ho Chi Minh City, Viet Nam</Address>
                    </div>
                    <div class="flex items-center gap-3">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+84123456789">
                            0123 456 789
                        </a>
                    </div>
                    <div class="flex items-center gap-3">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto: mail@mail.com">
                            mail@mail.com
                        </a>
                    </div>
              </div>
              <div class="grid grid-cols-2 items-center gap-5 text-lg font-medium capitalize md:text-xl">
                <ul class="flex flex-col gap-4">
                  <li>
                    <a href="./basic.html">basic collection</a>
                  </li>
                  <li>
                    <a href="./coat.html">coat collecttion</a>
                  </li>
                </ul>
                <ul class="flex flex-col gap-4">
                  <li>
                    <a href="./office.html">office collecttion</a>
                  </li>
                  <li>
                    <a href="./sports-golf.html">sports collecttion</a>
                  </li>
                  <li>
                    <a href="./uniform-chef.html">uniform collecttion</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>

      <section>
          <div class="fixed z-10 bottom-5 right-7">
              <div class="flex flex-col items-center gap-3">
                  <button name="hotline" class="flex gap-2 w-fit h-fit items-center justify-center text-white bg-black rounded-full shadow-hotline p-2 md:p-3">
                    <a href="tel:+84123456789">
                        <i class="fa-solid fa-phone border border-white rounded-full p-1.5 md:p-2"></i>
                    </a>
                  </button>
                  <div class="btn-scrollTop hidden">
                    <button name="scroll-to-top" class="flex w-9 h-9 justify-center items-center text-black border border-black rounded-full p-2.5 shadow-hotline bg-white lg:w-12 lg:h-12">
                      <i class="fa-solid fa-arrow-up"></i>
                    </button>
                  </div>
              </div>
          </div>
      </section>

    </footer>
  </body>

</html>
