
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: local('Dosis-ExtraLight'),  url('Dosis-ExtraLight.ttf') format("truetype");
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    src: local('Dosis-Light'),  url('Dosis-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis-Regular'),  url('Dosis-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis-Medium'),  url('Dosis-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local('Dosis-SemiBold'),  url('Dosis-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: local('Dosis-Bold'),  url('Dosis-Bold.ttf') format("truetype")
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    src: local('Dosis-ExtraBold'),  url('Dosis-ExtraBold.ttf') format("truetype")
}
