@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/animation.scss";
@import "./fonts/dosis/style.css";

html {
    scroll-behavior: smooth;
    font-family: "Dosis", sans-serif;
}
@layer components {
    .image-custom {
        @apply top-0 left-0 absolute w-full h-full;
    }
    
    #nav {
        @apply flex flex-col gap-5 uppercase text-base font-semibold lg:flex-row lg:gap-0;
        li {
            @apply flex transition-colors duration-500 hover:bg-primary-1 hover:text-white;
            a {
                @apply lg:px-4 lg:py-6;
            }
        }
    }
    
    .overlay-menu{
        @apply opacity-0 -z-10 w-0 overflow-x-hidden bg-black/80 fixed h-full top-0 left-0 lg:z-0 lg:w-fit lg:opacity-100 lg:static lg:bg-transparent;
        transition: opacity .3s linear .2s, width .1s linear .5s;
        &.active{
            @apply opacity-100 z-50 w-full;
            transition: opacity .3s linear;
        }
        .menu-header{
            @apply -left-full relative top-0 flex flex-col gap-12 bg-white h-full p-4 w-3/4 lg:p-0 lg:pt-10 lg:left-0 lg:w-full lg:gap-8 lg:items-center lg:h-fit lg:bg-transparent lg:text-white;
            transition: left .3s linear ;
            &.active{
                @apply left-0;
                transition: left .3s linear;
            }
        }
    }
    
    .swiper-button-next, .swiper-button-prev {
        &::after {
            display: none;
        }
    }
    
    .product-container {
        @apply flex flex-col items-center bg-white gap-5 rounded-xl pb-4 w-full border border-neutral-3-300 hover:shadow-dropdown transition-all duration-500 hover:scale-105
    }
    
    .product-color-container {
        @apply w-full h-full rounded-md border border-neutral-1-800 shadow-dropdown;
    }
    
    .shadow-social {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .shadow-text {
        text-shadow: 3px 0 7px #000000, -3px 0 7px #ffffff, 0 4px 7px #000000;
    }

    .shadow-hotline {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    .menu-collapse, .sub-menu-collapse{
        @apply max-h-0 overflow-y-hidden xl:max-h-screen xl:overflow-y-visible;
        transition: max-height .5s ease;
        &.collapse{
            @apply max-h-screen visible;
            transition: max-height 1s ease-in-out;
        }
    }

    .wrapper-collapse.collapse{
        @apply visible border border-primary-1 rounded-md;
        > div:first-child{
            @apply bg-primary-1 text-white rounded-t;
            span{ 
                @apply text-white;
            }
        }
    }
    
    .btn-collapse, .btn-sub-collapse{
        transition: transform .3s ease-in-out;
        &.collapse{
            @apply rotate-180 visible;
        }
    }
}