@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/animation.scss";
@import "./fonts/dosis/style.css";
@import "./fonts/fontawesome/css/all.min.css";

html {
    scroll-behavior: smooth;
    font-family: "Dosis", sans-serif;
}
@layer components {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .image-custom {
        @apply top-0 left-0 absolute w-full h-full;
    }

    .animate__animated.animate__duration-2s {
        --animate-duration: 2s;
    }

    .animate__animated.animate__duration-1500ms {
        --animate-duration: 1500ms;
    }

    #nav {
        @apply flex flex-col gap-5 uppercase text-base font-semibold lg:flex-row lg:gap-0;
        li {
            @apply flex transition-colors duration-500 hover:bg-primary-1 hover:text-white;
            a {
                @apply lg:px-4 lg:py-6;
            }
        }
    }
    
    .overlay-menu{
        @apply opacity-0 -z-10 w-0 overflow-x-hidden bg-black/80 fixed h-full top-0 left-0 lg:z-0 lg:w-fit lg:opacity-100 lg:static lg:bg-transparent;
        transition: opacity .3s linear .2s, width .1s linear .5s;
        &.active{
            @apply opacity-100 z-50 w-full;
            transition: opacity .3s linear;
        }
        .menu-header{
            @apply -left-full relative top-0 flex flex-col gap-12 bg-white h-full p-4 w-3/4 lg:p-0 lg:pt-10 lg:left-0 lg:w-full lg:gap-8 lg:items-center lg:h-fit lg:bg-transparent lg:text-white;
            transition: left .3s linear ;
            &.active{
                @apply left-0;
                transition: left .3s linear;
            }
        }
    }
    
    .swiper-button-next, .swiper-button-prev {
        &::after {
            display: none;
        }
    }
    
    .product-container {
        @apply flex flex-col items-center bg-white gap-5 rounded-xl pb-4 w-full hover:shadow-dropdown transition-all duration-500 hover:scale-105 ;
       
        &-color {
            @apply w-5 h-5 rounded-full border border-neutral-1-800 shadow-dropdown md:w-7 md:h-7 2xl:w-8 2xl:h-8;
        }

        &-best-sellers {
            .product-container-color {
                @apply w-9 h-9 md:w-6 md:h-6 lg:w-8 lg:h-8 2xl:w-10 2xl:h-10;

            }
        }
    } 
    
    
    .shadow-social {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .shadow-text {
        text-shadow: 3px 0 7px #000000, -3px 0 7px #ffffff, 0 4px 7px #000000;
    }

    .shadow-hotline {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    .collapse-items, .sub-collapse-items {
        @apply max-h-0 overflow-y-hidden flex flex-col text-lg pl-2 pt-2 gap-2 lg:text-xl lg:gap-2.5;
        transition: max-height .5s ease;
        &.collapse{
            @apply max-h-screen visible;
            transition: max-height 1s ease-in-out;
        }
    }

    .collapse-wrapper.collapse {
        @apply visible;
      
    }
    
    .collapse-trigger, .btn-sub-collapse {
        @apply flex items-center justify-between lg:justify-normal lg:gap-3;
        &.collapse {
            @apply visible;
            .collapse-icon {
                transition: transform .3s ease-in-out;
                @apply rotate-180;
            }
        }
    }

    .breadcrumb-container {
        @apply flex flex-wrap gap-1 items-center capitalize text-lg md:text-3xl md:gap-2;
    }

    .dropdown {
        @apply relative focus:outline-none;
        .dropdown-menu {
            @apply space-y-2 absolute right-0 text-black truncate bg-white p-2 rounded-md shadow-dropdown text-base font-normal md:text-lg xl:text-2xl xl:p-4 xl:flex xl:flex-col xl:invisible xl:opacity-0 xl:duration-500 xl:transition-opacity;
        }
    }
}