@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/animation.scss";

html {
    scroll-behavior: smooth;
}

.image-custom {
    @apply top-0 left-0 absolute w-full h-full;
}

#nav {
    @apply flex flex-col gap-5 uppercase text-base text-neutral-1-300 font-semibold lg:flex-row lg:text-white;
    li {
        @apply flex transition-colors duration-500 hover:bg-primary-2;
        a {
            @apply lg:px-4 lg:py-6;
        }
    }
}

.overlay-menu{
    @apply opacity-0 -z-10 w-0 overflow-x-hidden bg-black/80 fixed h-full top-0 left-0 lg:z-0 lg:w-fit lg:opacity-100 lg:static lg:bg-transparent;
    transition: opacity .3s linear .2s, width .1s linear .5s;
    &.active{
        @apply opacity-100 z-50 w-full;
        transition: opacity .3s linear;
    }
    .menu-header{
        @apply -left-full relative top-0 flex flex-col gap-12 bg-white h-full p-4 w-3/4 lg:p-0 lg:left-0 lg:w-fit lg:h-fit lg:bg-transparent;
        transition: left .3s linear ;
        &.active{
            @apply left-0;
            transition: left .3s linear;
        }
    }
}

.swiper-button-next, .swiper-button-prev {
    &::after {
        display: none;
    }
}
